# Tags files
GPATH
GRTAGS
GTAGS
TAGS
.tags
tags

# Libraries
*.a
*.o
*.so

# Binaries
/mustache-test
/mustache-interactive

# External libraries
/json.hpp
/catch.hpp
/test/src/catch.hpp

# Editor-related files
/nbproject
/.projectile
/.dir-locals.el
