Simple string: {{0 simple_string }}<p>{{ simple_string }}</p>{{/ simple_string }}
Empty string: {{0 empty_string }}<p>{{ empty_string }}</p>{{/ empty_string }}
Zero integer: {{0 zero_integer }}<p>{{ zero_integer }}</p>{{/ zero_integer }}
Zero float: {{0 zero_float }}<p>{{ zero_float }}</p>{{/ zero_float }}
Number integer: {{0 number_integer }}<p>{{ number_integer }}</p>{{/ number_integer }}
Number float: {{0 number_float }}<p>{{ number_float }}</p>{{/ number_float }}
Boolean true: {{0 boolean_true }}<p>{{ boolean_true }}</p>{{/ boolean_true }}
Boolean false: {{0 boolean_false }}<p>{{ boolean_false }}</p>{{/ boolean_false }}
Null: {{0 null_value }}<p>{{ null_value }}</p>{{/ null_value }}
Object empty: {{0 object_empty }}<p>{{ object_empty }}</p>{{/ object_empty }}
Object full: {{0 object_full }}<p>{{ object_full }}</p>{{/ object_full }}
Array empty: {{0 array_empty }}<p>{{ array_empty }}</p>{{/ array_empty }}
Array full: {{0 array_full }}<p>{{ array_full }}</p>{{/ array_full }}
Not existing: {{0 not_existing }}<p>{{ not_existing }}</p>{{/ not_existing }}
