{{0 simple_string }}<p>{{ simple_string }}</p>{{/ simple_string }}
{{0 empty_string }}<p>{{ empty_string }}</p>{{/ empty_string }}
{{0 zero_integer }}<p>{{ zero_integer }}</p>{{/ zero_integer }}
{{0 zero_float }}<p>{{ zero_float }}</p>{{/ zero_float }}
{{0 number_integer }}<p>{{ number_integer }}</p>{{/ number_integer }}
{{0 number_float }}<p>{{ number_float }}</p>{{/ number_float }}
{{0 boolean_true }}<p>{{ boolean_true }}</p>{{/ boolean_true }}
{{0 boolean_false }}<p>{{ boolean_false }}</p>{{/ boolean_false }}
{{0 null_value }}<p>{{ null_value }}</p>{{/ null_value }}
{{0 object_empty }}<p>{{ object_empty }}</p>{{/ object_empty }}
{{0 object_full }}<p>{{ object_full }}</p>{{/ object_full }}
{{0 not_existing }}<p>{{ not_existing }}</p>{{/ not_existing }}
{{0 array_empty }}<p>{{ array_empty }}</p>{{/ array_empty }}
{{0 array_full }}<p>{{ array_full }}</p>{{/ array_full }}
