<h3>{{ title }}</h3>

{{> partials/common/user | Name='Mario' | Surname='Rossi' }}
{{> partials/common/user | Name='John' | Surname='Smith' | Invisible=yes }}
{{> partials/common/user | Name='Giulio' | Surname='Bianchi' | Invisible=no }}
{{> partials/common/user | Name='Valerio' | Surname='Verdi' | Invisible=maybe }}
