<h3>{{title}}</h3>

{{>partials/user|Name='Mario'|Surname='Rossi'|Invisible=no}}
{{>partials/user|Name='John'|Surname='Smith'|Invisible=yes}}
{{>partials/user|Name='Giulio'|Surname='Bianchi'|Invisible=no}}
