<h3>{{ title }}</h3>

{{> partials/common/user | Name='Mario' | Surname='Rossi' }}
{{> partials/common/user | Name='John' | Surname='Smith' }}
{{> partials/common/user | Name='Giulio' | Surname='Bianchi' }}
{{> partials/common/user | Name='Valerio' | Surname='Verdi' }}