{{# visible }}{{> partials/common/text | text="visible" }}{{/ visible }}
{{# invisible }}{{> partials/common/text | text="invisible" }}{{/ invisible }}
{{# visible }}{{> partials/common/text | text="visible" }}{{/ visible }}
