<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            td.ceased {
                background: green;
            }
            td.critical {
                background: red;
            }
        </style>
    </head>
    <body>
        <h1>{{title}}</h1>

        <table>
        <tbody>
        {{#alarms}}

        {{=visible}}
        <tr class="{{alarm-severity}}"><td>{{module-type}}</td><td>{{alarm-type}}</td><td>{{alarm-active}}</td><td>visible = {{visible}}</td></tr>
        {{/visible}}

        {{^visible}}
        <tr>{{module-type}} not visible</tr>
        {{/visible}}

        {{/alarms}}
        </tbody>
        </table>
        {{^alarms}}
        <p>No alarms found</p>
        {{/alarms}}
    </body>
</html>