{{>partials/doctype}}

<div class="row">
    <div class="col c4">
        IMAGE
    </div>
    <div class="col c5">
        <h3>Heartbeat</h3>
        <table>
            <tr><th class="l">Heartbeat interval (hours)</th><td>{{HeartbeatInterval}}</td></tr>
            <tr><th class="l">Last sent</th><td>{{LastHeartbeatTime}}</td></tr>
        </table>
        <h3>SMS</h3>
        <table>
            <tr><th class="l">SMS servive center</th><td>{{SmsServiceCenter}}</td></tr>
            <tr><th class="l">SMS format</th><td>{{SmsFormat}}</td></tr>
        </table>
    </div>
    <div class="col c3">
        <h3>SMTP Server</h3>
        <table>
            <tr><th class="l">SMTP server presence</th><td><span class="enabled-{{SmtpServerPresence}}"><i></i></span>{{SmtpServerPresence}}</td></tr>
            <tr>EMPTY</tr>
        </table>
        <h3>Traps</h3>
        <table>
            <tr><th class="l">Trap mode</th><td>{{TrapMode}}</td></tr>
            <tr>EMPTY</tr>
        </table>
    </div>
</div>

<h3>TRAP notifications</h3>
<table>
<tr class="gray"><th>IP address</th><th>Port</th><th>User</th><th>Alarm enable</th><th>Alarm severity</th><th>Heartbeat</th></tr>
{{#TrapTable}}
<tr class="gray"><td>{{TrapIpAddress}}</td><td>{{TrapPort}}</td><td>{{TrapUser}}</td><td><span class="enabled-{{AlarmEnable}}"><i></i></span>{{AlarmEnable}}</td><td>warning</td><td><span class="enabled-{{Heartbeat}}"><i></i></span>{{Heartbeat}}</td></tr>
{{/TrapTable}}
</table>

<h3>SMS notifications</h3>
<table>
<tr><th>Operator Number</th><th>Alarm enable</th><th>Alarm severity</th><th>Heartbeat</th></tr>
{{#SmsTable}}
<tr class="gray"><td>{{OperatorNumber}}<td></td><span class="enabled-{{AlarmEnable}}"><i></i>{{AlarmEnable}}<td></td>{{AlarmSeverity}}<td></td><span class="enabled-{{Heartbeat}}"><i></i>{{Heartbeat}}<td></tr>
{{/SmsTable}}
</table>

<h3>Email notifications</h3>
<table>
<tr><th>Operator email</th><th>Alarm enable</th><th>Alarm severity</th><th>Heartbeat</th></tr>
{{#EmailTable}}
<tr class="gray"><td>{{OperatorEmail}}<td></td><span class="enabled-{{AlarmEnable}}"><i></i>{{AlarmEnable}}<td></td>{{AlarmSeverity}}<td></td><span class="enabled-{{Heartbeat}}"><i></i>{{Heartbeat}}<td></tr>
{{/EmailTable}}
</table>