<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        {{#section-visible}}
        <p>Inside  section-visible</p>
        {{>partials-nested-middle}}
        {{/section-visible}}
        {{#section-invisible}}
        <p>Inside  section-invisible</p>
        {{>partials-nested-middle}}
        {{/section-invisible}}
    </body>
</html>
