{{< header-to-open }}
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{title}}</h1>

        <table>
        <tbody>
        {{< page-to-open }}
        </tbody>
        </table>
    </body>
</html>
